*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body{
  background-color: #bbe4e9;
}

#root{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



form{
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 29px;
  padding: 20px;
  background-color: #53a8b6;
}

form>div{
  display: flex;
  gap: 40px;
  padding-left: 20px;

}
form>div>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 250px;
}
#task{
  width: 300px;
}
input,select,label{
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

input,select{
  padding: 5px;
}
input:focus{
  outline: none;
}

form button{
  padding:  8px 15px;
  border: none;
  background-color: #5585b5;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

form p{
  font-size: 24px;
}

#root>h1{
  padding: 30px;
}



.todoContainer {
  width: 900px;
  min-height: 500px;
  background-color: #79c2d0;
  padding: 10px;
}



.taskContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 8px;
}

.taskContainer>p{
  width: 200px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 20px;
}
.taskContainer>div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.high{
  background-color: #ff6961;
}
.medium{
  background-color: #ffd700;
  color: #333333;
}
.low{
  background-color: #98fb98;
  color: #006400;
}
/* 

.first-color {
  background: #5585b5;
}

.second-color {
  background: #53a8b6;
}

.third-color {
  background: #79c2d0;
}

.fourth-color {
  background: #bbe4e9;
}

*/